@*@model IEnumerable<THELDALUXURYECOMMERCE.Models.mvcAdminUser>*@
@*@model IEnumerable<WEBAPI.Models.tb_Users>*@
@model WEBAPI.Models.tb_Users
@using WEBAPI.Models
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <div class="text-success">
        <div class="col-md-offset-2 col-md-12">
            <label class="text-danger small">@Html.DisplayFor(model => model.ErrorMessage)</label>
        </div>
    </div>

    <div class="container-fluid page-body-wrapper full-page-wrapper" style="margin-top:-20px">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto text-center">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo text-center">
                            <img src="~/Admin/images/thelda.png" alt="logo">
                        </div>
                        <h4 class="text-center">Hello There, Welcome to Telda Luxury</h4>
                        <h6 class="font-weight-light text-center">Sign in to continue.</h6>
                        @using (Html.BeginForm("UserLogin", "User", FormMethod.Post))
                        {
                            <div class="pt-3">
                                <div class="form-group">
                                    <input  required type="email" class="has-validation form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input required type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="mt-3">
                                    <input type="submit" value="Sign In" class="btn btn-block btn-inverse-warning text-black-50 btn-lg font-weight-medium auth-form-btn" href="../../index.html" />
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            Keep me signed in
                                        </label>
                                    </div>
                                    <a href="#" class="auth-link text-black">Forgot password?</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
