<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*admin css header*@
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TeldaLuxury Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/Admin/vendors/feather/feather.css">

    <link rel="stylesheet" href="~/Content/Admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Content/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Content/Admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/Admin/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/Admin/images/theldaIcon.png" />



    <link href="~/alertifyjs/css/themes/bootstrap.css" rel="stylesheet" />
    <link href="~/alertifyjs/css/themes/default.css" rel="stylesheet" />
    <link href="~/alertifyjs/css/themes/semantic.css" rel="stylesheet" />
    <link href="~/alertifyjs/css/alertify.css" rel="stylesheet" />
    @*end admin css header*@

</head>
<body>
    <div class="scroll-wrapper">
        @RenderBody()
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.UtcNow.Year <a href="https://www.theldaluxury.com/" target="_blank">TheldaLuxuries.</a> All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
            </div>
        </footer>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/Admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Content/Admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Content/Admin/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Content/Admin/js/off-canvas.js"></script>
    <script src="~/Content/Admin/js/hoverable-collapse.js"></script>
    <script src="~/Content/Admin/js/template.js"></script>
    <script src="~/Content/Admin/js/settings.js"></script>
    <script src="~/Content/Admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/Admin/js/dashboard.js"></script>
    <script src="~/Content/Admin/js/Chart.roundedBarCharts.js"></script>
    <script src="~/alertifyjs/alertify.js"></script>

    <!-- End custom js for this page-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
