<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name = "teldaConnectionString" connectionString = "Data Source = SOLDIERBOY\MSSQLMUSTY; Initial Catalog = theldaluxury; Integrated Security = True" />
    <add name="theldaluxuryEntities" connectionString="metadata=res://*/Models.teldaluxuryMODEL.csdl|res://*/Models.teldaluxuryMODEL.ssdl|res://*/Models.teldaluxuryMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SOLDIERBOY\MSSQLMUSTY;initial catalog=theldaluxury;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>